/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --black: #000000;
  --white: #f8f8f8;
  --red: #e30613;
  --grey: #bfbfbf;

  /*========== Font and Typography ==========*/

  --title-font: 'Oswald', sans-serif;
  --text-font: 'Roboto', sans-serif;
  --decoration-font: 'great vibes', cursive;

  --h1-font-size: 4rem;
  --h2-font-size: 3rem;
  --h3-font-size: 1.7rem;
  --h4-font-size: 1.25rem;
  --size-normal: 1rem;
}

/*=============== BASE ===============*/

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== CARD ===============*/
.container__card {
  padding-block: 5rem;
}

.card__content {
  margin-inline: 1.75rem;
  border-radius: 5px;
  overflow: hidden;
}

.card__article {
  width: 300px;
  border-radius: 5px;
  overflow: hidden;
}

.card__image {
  position: relative;
  margin-bottom: -0.75rem;
}

.card__data {
  background-color: var(--red);
  padding: 1.5rem 2rem;
  text-align: center;
  position: relative;
  z-index: 10;
}

.card__img {
  width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 5;
}

.card__name {
  font-size: var(--h3-font-size);
  color: var(--white);
  margin-bottom: .75rem;
}


.card__description {
  font-weight: 500;
  margin-bottom: 1.75rem;
}



/* Swiper class */
.swiper-button-prev::after,
.swiper-button-next::after {
  content: '';

}

.swiper-button-next,
.swiper-button-prev {
  width: initial;
  height: initial;
  font-size: 3rem;
  color: var(--second-color);
  display: none;
}

.swiper-button-next {
  right: 0;
}

.swiper-button-prev {
  left: 0;
}

.swiper-pagination-bullet {
  background-color: hsl(212, 32%, 40%);
  opacity: 1;
}

.swiper-pagination-bullet-active {
  background-color: var(--second-color); ;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (min-width: 320px) {
  .card__data {
    padding: 1rem;
  }
  
}

/* For medium devices */
@media screen and (min-width: 768px) {
  .card__content {
    margin-inline: 3rem;
  }

  .swiper-button-next,
  .swiper-button-prev {
    display: block;
  }
  
}

/* For large devices */
@media screen and (min-width: 1024px) {
  .card__container {
    max-width: 1120px;
  }

  .swiper-button-next {
    right: -1rem;
  }
  .swiper-button-prev {
    left: -1rem;
  }
}